extend ../theme
block append head-link
    link(rel='stylesheet', href='/organization/css/public/index.css')
block content

  form(action="/v1/auth/add", method='post')
    input(type='hidden', name="role", value="donor")
    br
    | Email
    input(type="text" name="name")
    br
    | Passowrd
    input(type="password" name="password")
    | Confirm
    input(type="password" name="confirm")

    input(type="submit" value="Save")
