extend ../theme
block append head-link
    link(rel='stylesheet', href='/organization/css/public/index.css')
block content

  form(action="/v1/auth/add", method='post')
    input(type='hidden', name="role", value="donor")
    | Email
    input(type="test" name="email")
    | Password
    input(type="test" name="password")
    | Confirm
    input(type="test" name="confirm")
    input(type='submit', class='button', value='SAVE', id="save")
