extends ./theme
block append head-link
    link(rel='stylesheet', href='/organization/css/index.css')

block content

    .begin
      table
          tr
            td
              h1 WHO
              p Beggars who live by asking people for money to eat
            td
              h1 WHAT
              p A Card with a daily balance to use for any purchase
          tr
            td
              h1 WHEN
              p An Agent registers a Beggar
            td
              h1 WHERE
              p For use anywhere debit/credit cards are accepted
          tr
            td(colspan="2")
              h1 WHY
              p Because everyone deserves to eat at least once per day
    .end
      table
        tbody
          tr
            td.donor
              h1 DONOR
              h2 Give money to the Fund
            td.consumer
              h1 CONSUMER
              h2 Use money from the Fund
          tr
            td(colspan="2").agent
              h1 AGENT
              h2 Register Consumers
